<!doctype html>
<html lang="en">
  <head>

    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Job Aggregator</title>
  </head>
  <body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Job Aggregator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
           
            
           
          </ul>
          
        </div>
      </nav>

<div class='container col-md-6'>
    <h2 class="text-center mt-3">Find a JOB </h2><br><br><br><br><br>
    
      <form action='/' method='POST'>

          
          
        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="col-md-6">Job role</label>
            <input class="form-control" id="exampleFormControlTextarea1" name='role' placeholder="Enter required job role ex: Python Developer" required>
            <br> <label for="exampleFormControlTextarea1" class="col-md-6">Location</label>
            <input class="form-control" id="exampleFormControlTextarea1" name='place' placeholder="Enter your required Location. ex: Bangalore" required>
         
        </div><br><br>

        <button type="submit" class="btn btn-outline-primary mb-2">Fetch</button>
      </form></div>

      <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">


  <!-- Footer Elements -->

  <!-- Copyright -->
  <div style="bottom: 0; position: fixed; padding-left:40%;opacity:70%" class="footer-copyright text-center py-3">designed by
    <a href="https://balajibetadur.github.io"> Balaji Betadur</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   
</body>
</html>








